/* app css stylesheet */
@import 'compass';

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

ul[dnd-list], ul[dnd-list] > li {
  position: relative;
}

div.box {
  background-color: #d4c78e;
}

div.box li.list-group-item {
  opacity: .8;
}

li.selected {
  background-color: #dff0d8;
}

.express {
  color: #d2322d;
}

.flavors {
  max-height: 220px;
  overflow: scroll;
}

li.ctrlItem {
 @include display-flex(flex);
  @include flex-direction(row);
  @include justify-content('space-between');
  padding: 6px;
}
li.ctrlItem>span.btn-group {
  @include align-items(flex-start);
}

div.addedItem {
 @include align-self(flex-start);
  padding: 4px;
  min-width: 65%;
  display: inline-block;
}

span.emph {
  color: #d1250b;
  font-weight: bold;
}

#customProduct {
  min-height: 200px;
}

p.list-label {
  font-style: italic;
  color: #d1250b;
}

.flav {
  background-color: #ffadad;
}

.scone {
  background-color: #ffe0e0;
}

.pic {
  margin-right: 6px;
}

div.inline {
  display: inline;
  @include flex(1 0);
}

.panel-info>.panel-heading {
  color: #fff;
  background-color: #333333;
  border-color: #333333;
}

.panel-info, .panel-default {
  border-color: #666666;
}

.list-group-item-info {
  color: #fff;
  background-color: #666666;
}

