/* app css stylesheet */
/* line 4, ../scss/app.scss */
div.box {
  background-color: #84c687;
}

/* line 8, ../scss/app.scss */
div.box li.list-group-item {
  opacity: .8;
}

/* line 12, ../scss/app.scss */
li.selected {
  background-color: #dff0d8;
}

/* line 16, ../scss/app.scss */
.express {
  color: #d2322d;
}

/* line 20, ../scss/app.scss */
.flavors {
  max-height: 220px;
  overflow: scroll;
}

/* line 25, ../scss/app.scss */
li.ctrlItem {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: "space-between";
  justify-content: "space-between";
  padding: 6px;
}

/* line 31, ../scss/app.scss */
li.ctrlItem > span.btn-group {
  -webkit-align-items: flex-start;
  align-items: flex-start;
}

/* line 35, ../scss/app.scss */
div.addedItem {
  -webkit-align-self: flex-start;
  align-self: flex-start;
  padding: 4px;
  min-width: 65%;
  display: inline-block;
}

/* line 42, ../scss/app.scss */
span.emph {
  color: #d1250b;
  font-weight: bold;
}

/* line 47, ../scss/app.scss */
#customProduct {
  min-height: 200px;
}

/* line 51, ../scss/app.scss */
p.list-label {
  font-style: italic;
  color: #d1250b;
}

/* line 56, ../scss/app.scss */
.flav {
  background-color: #fff;
}

/* line 60, ../scss/app.scss */
.scone {
  background-color: #fff;
}

/* line 64, ../scss/app.scss */
.pic {
  margin-right: 6px;
}

/* line 68, ../scss/app.scss */
div.inline {
  display: inline;
  -webkit-flex: 1 0;
  flex: 1 0;
}

/* line 73, ../scss/app.scss */
.panel-info > .panel-heading {
  color: #fff;
  background-color: #333333;
  border-color: #333333;
}

/* line 79, ../scss/app.scss */
.panel-info, .panel-default {
  border-color: #666666;
}

/* line 83, ../scss/app.scss */
.list-group-item-info {
  color: #fff;
  background-color: #666666;
}

/* line 88, ../scss/app.scss */
.btn-primary {
  color: #fff;
  background-color: #333333;
  border-color: #333333;
}

/* line 94, ../scss/app.scss */
.btn-primary:hover {
  color: #fff;
  background-color: #222222;
  border-color: #222222;
}

/* line 100, ../scss/app.scss */
button.active {
  background-color: #008855 !important;
  color: #fff !important;
}

/* line 105, ../scss/app.scss */
button.inactive {
  background-color: #aaaaaa;
}
