/* app css stylesheet */
/* line 3, ../scss/app.scss */
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

/* line 10, ../scss/app.scss */
.menu:before {
  content: "[";
}

/* line 14, ../scss/app.scss */
.menu:after {
  content: "]";
}

/* line 18, ../scss/app.scss */
.menu > li {
  display: inline;
}

/* line 22, ../scss/app.scss */
.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

/* line 27, ../scss/app.scss */
.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

/* line 32, ../scss/app.scss */
ul[dnd-list], ul[dnd-list] > li {
  position: relative;
}

/* line 36, ../scss/app.scss */
div.box {
  background-color: #d4c78e;
}

/* line 40, ../scss/app.scss */
div.box li.list-group-item {
  opacity: .8;
}

/* line 44, ../scss/app.scss */
li.selected {
  background-color: #dff0d8;
}

/* line 48, ../scss/app.scss */
.express {
  color: #d2322d;
}

/* line 52, ../scss/app.scss */
.flavors {
  max-height: 140px;
  overflow: scroll;
}

/* line 57, ../scss/app.scss */
li.ctrlItem {
  display: flex !important;
  flex-direction: row;
  justify-content: space-between;
  padding: 6px 4px;
}

/* line 63, ../scss/app.scss */
li.ctrlItem > span.btn-group {
  align-self: flex-start;
}

/* line 67, ../scss/app.scss */
div.addedItem {
  algin-self: flex-start;
  padding: 4px;
  max-width: 65%;
  display: inline-block;
}

/* line 74, ../scss/app.scss */
span.emph {
  color: #d1250b;
  font-weight: bold;
}

/* line 79, ../scss/app.scss */
#customProduct {
  min-height: 200px;
}
