<ul class="list-group flavors" style="min-height: 80px;">
    <li ng-repeat="(id, item) in models.lists.C"
        class="list-group-item">
        {{item.Name}}
        <div class="input-group">
            <span class="input-group-btn">
                <select name="qty" ng-model="model.qty" style="margin-right: 6px;" placeholder="Qty" class="form-control input-sm">
                    <option value="" selected>Quantity</option>
                    <option value="{{i}}" ng-repeat="i in models.lists.selectQty">{{i}}</option>
                </select>
            </span>
            <span class="input-group-btn">
                <span class="glyphicon glyphicon-plus btn btn-default" style="float: right;" ng-click="addExtItem($index, item, model);"></span>

            </span>

        </div>
    </li>
</ul>
