<!--<p class="list-label">Welsh Cakes</p>-->
<ul class="list-group flavors" style="min-height: 80px;">
    <li ng-repeat="(id, item) in models.lists.A" bs-popover
        class="list-group-item ctrlItem flav">
            {{item.Name}}
        <div class="btn-group">
            <span class="glyphicon glyphicon-picture btn btn-default btn-xs" id="img{{$index}}" data-container="body" data-toggle="popover" title="{{item.Name}}" data-original-title="{{item.Name}}" rel="popover" data-content="<img src='includes/images/tempbox.jpg' alt='image'/>"></span> <span class="glyphicon glyphicon-plus btn btn-default btn-xs" style="float: right;" ng-click="addItem($index, item, model);"></span>
        </div>
    </li>
<!--</ul>-->
<!--<p class="list-label">Scones and Shortbread</p>-->
<!--<ul class="list-group flavors" style="min-height: 80px;">-->
    <li class="list-group-item list-group-item-info ctrlItem">Scones and Shortbreads</li>
    <li ng-repeat="(id, item) in models.lists.D"
        class="list-group-item ctrlItem scone">
        {{item.Name}}
        <span class="glyphicon glyphicon-plus btn btn-default btn-xs" style="float: right;" ng-click="addItem($index, item, model);"></span>
    </li>
</ul>


