<ul class="list-group" style="min-height: 80px;">
    <li ng-repeat="(id, item) in models.lists.B"
        class="list-group-item ctrlItem"
            >
        <div class="addedItem inline">
            {{item.name}} ({{item.quantity}})
        </div>

        <div class="btn-group">
            <span class="glyphicon glyphicon-minus btn btn-default btn-xs" ng-show="item.quantity > 1" ng-click="decrementItem($index, item); setboxfull();"></span>
            <span class="glyphicon glyphicon-remove btn btn-default btn-xs" ng-click="removeItem($index, item); setboxfull();"></span>
        </div>
    </li>
</ul>