<div class="radio" ng-repeat="item in models.lists.prodList">
    <label>
        <input type="radio" name="quantity" ng-model="my.num" ng-change="setFlavorAllowed(item); setPrice(item.Price);" id="cat-{{item.CatalogId}}" ng-value="{{item.Quantity}}">
       {{ item.Name }}
    </label>
</div>
<div class="radio" ng-repeat="item in models.lists.extraProds">
    <label>
        <input type="radio" name="quantity" ng-model="my.num2" ng-change="setExtraAllowed(item.Quantity, item.ExtraQuantity, item.Id); setPrice(item.Price);" id="cat-{{item.CatalogId}}" value="E{{$index}}">
        {{ item.Name }}
    </label>
</div>