<div class="radio" ng-repeat="item in models.lists.prodList">
    <label>
        <input type="radio" name="quantity" ng-model="my.selectProduct" ng-change="setFlavorAllowed(item); setPrice(item.Price);" id="cat-{{item.CatalogId}}" ng-value="{{item.Id}}">
       {{ item.Name }}
    </label>
</div>
<div class="radio" ng-repeat="item in models.lists.extraProds">
    <label>
        <input type="radio" name="quantity" ng-model="my.selectProduct" ng-change="setExtraAllowed(item); setPrice(item.Price);" id="cat-{{item.CatalogId}}" ng-value="{{item.Id}}">
        {{ item.Name }}
    </label>
</div>