<div class="row">
    <div class="container">
    <div class="col-sm-2">
        <div class="row">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">1. Pick a box</h3>
                </div>
                <div class="panel-body" ng-include="'view1/prodList.html'"></div>
            </div>
            <div class="panel panel-default" ng-show="showprice">
                <div class="panel-body">
                    <p>This box price is:</p>
                <h4>{{prod.price | currency}}</h4>
                <p class="express">All boxes ship for free!</p>
                </div>
            </div>
        </div>
    </div>

    <!-- The dnd-list directive allows to drop elements into it.
         The dropped data will be added to the referenced list -->
    <div class="col-sm-5">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">2. Add items to fill your Box</h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-sm-12 alpha">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Yummies</h3>
                                </div>

                                <div class="panel-body">
                                        <div ng-include="'view1/listA.html'"></div>
                                    <div ng-show="showExtras" ng-include="'view1/extras.html'"></div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-5">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">3. Add your filled box to the shopping cart</h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-sm-12 omega">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Amounts allowed - Yummies: {{my.flavorAllowed}}<span ng-show="showExtras">, Extras: {{my.extraAllowed}} </span></h3>
                                </div>

                                <div class="panel-body" ng-class="{box: boxfull}">
                                    <div ng-include="'view1/listB.html'"></div>
                                    <p ng-show="!boxfull && my.flavorLeft > 0">You have <span class="emph">{{my.flavorLeft}}</span> yummies left to fill this box.</p><p ng-show="showExtras && !boxfull">You have <span class="emph">{{my.extraLeft}}</span> extras left to fill the box. </p>
                                    <button class="btn btn-primary" ng-show="boxfull" ng-click="addToCart();">Add to cart</button>
                                </div>
                            </div>
                            <p ng-show="boxfull">You have filled this box. Either add it to your cart or remove items if you would like to change them.</p>
                            <button id="startover" ng-show="my.flavorAllowed > 0" class="btn btn-default" ng-click="emptyBox();">Start over</button>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            <p>Note: Scones & Shortbread may not always be available to purchase and they only fit into 12+ boxes and boxes that contain Extras.</p>

            <p>WF = Wheat Free</p>
        </div>
        </div><!-- end of container -->
</div><!-- end of row -->








<div class="modal fade" id="emptyModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Box Full</h4>
            </div>
            <div class="modal-body">
                <p>You have not selected a box size. Please select the size of box before adding items.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="dialogModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Extra not allowed</h4>
            </div>
            <div class="modal-body">
                <p>Sorry, this item doesn't fit in this sized box. To purchase this item, please select a larger box or one that allows Extras.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal --

<div class="modal fade" id="flavorfullModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Box Full</h4>
            </div>
            <div class="modal-body">
                <p>You have filled this box with the amount of yummies allowed. You can either select a larger box or remove some items.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="extrafullModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Box Full</h4>
            </div>
            <div class="modal-body">
                <p>You have filled this box with the amount of extras allowed. You can either select a larger box or remove some items.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" id="excludedModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Excluded item</h4>
            </div>
            <div class="modal-body">
                <p>You have selected an excluded item for this box. Scones & Shortbread may not always be available to purchase and they only fit into 12+ boxes and boxes that contain Extras.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="formModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">What will be sent to the cart below</h4>
            </div>
            <div class="modal-body">
                <div id="sendform">
                    <form enctype="multipart/form-data" method="post" id="sendCart" action="https://www.welshbaker.com/add_cart.asp" style="display: block" target="_self">
                        <input type="hidden" name="item_id" value="{{product.CatalogId}}"/>
                        <input type="hidden" name="itemid" value="{{product.Id}}"/>
                        <input type="hidden" name="category_id" value="[catid]"/>
                        <input type="hidden" name="qty-0" value="1"/>
                        <input type="hidden" name="std_price" value="10.00"/>
                        <carttextarea tarea="{{product.YourOption}}"></carttextarea>
                        <input type="hidden" name="specialamount" value="{{prod.price}}"/>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
    $(document).ready(function(){
        if (Cookies.get('viewCart')) {
            Cookies.set("viewCart", 0);
        }
        var flag = Cookies.get("viewCart")
        if (flag == 1) {
            Cookies.set("viewCart", 0);
//            $("#loading").toggle();
            window.location.href = "http://www.welshbaker.com/view_cart.asp";
        }
    });
</script>
